{% if site.github %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Some projects I am Working On</h1>
		</div>
		<div class="content-rounded-panel" style="overflow: hidden;">
			<div>
				{% for project in site.github.projects %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div>
					{% endif %}
						{% if project.title %}
							<h3>{{project.title}}</h3>
						{% endif %}
						{% if project.description %}
							{{project.description}} </br></br>
						{% endif %}
						{% if project.optionalImageLink %}
							<a href={{project.optionalImageLink}}>
						{% endif %}		
						{% if project.optionalImage %}
							<img src="{{project.optionalImage}}" style="height: auto; width: 100%;"> </br>
						{% endif %}
						{% if project.optionalImageLink %}
							</a>
						{% endif %}		
						{% if project.optionalVideo %}
							<iframe width="894" height="503" src={{project.optionalVideo}} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{% endif %}
						{% if project.repository %}
							<div class="github-widget" data-repo="{{project.repository}}"></div> </br>
						{% endif %}
					{% if loopindex == 0 %}
					</div></br></br></br>
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
