{% if site.github %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Some ShaderToy things</h1>
		</div>
		<div class="content-rounded-panel" style="overflow: hidden;">
			<div>
				{% for shader in site.shadertoy.shaders %}
					<div class="col-sm-6">
						{% if shader.title %}
							{{shader.title}}</br>
						{% endif %}
						{% if shader.shaderId %}
							<a href="https://www.shadertoy.com/view/{{shader.shaderId}}" ><img src="https://www.shadertoy.com/media/shaders/{{shader.shaderId}}.jpg" /> my shadersdss</a>
						{% endif %}
						{% if shader.description %}
							{{shader.description}}</br>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
