{% if site.github %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Some projects I am Working On</h1>
		</div>
		<div class="content-rounded-panel" style="overflow: hidden;">
			<div>
				{% for project in site.github.projects %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row">
					{% endif %}
						{% if project.title %}
						<div class="row">
							<div class="col">
								{{project.title}}
							</div>
						</div>	
						{% endif %}
						{% if project.description %}
						<div class="row">
							<div class="col">
								{{project.description}}
							</div>
						</div>
						
						{% endif %}
						{% if project.optionalImage %}
						<div class="row">
							<div class="col">
								<img src="{{project.optionalImage}}" style="height: auto;width: 100%;">
							</div>
						</div>
						{% endif %}
						{% if project.optionalVideo %}
						<div class="row">
							<div class="col">
								<iframe src={{project.optionalVideo}}></iframe> 
							</div>
						</div>
						{% endif %}
						{% if project.repository %}
						<div class="row">
							<div class="col">
								<div class="github-widget" data-repo="{{project.repository}}"></div>
							</div>
						</div>
						{% endif %}
					{% if loopindex == 0 %}
					</div>
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
