{% if site.cpp %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Unreal C++ and DirectX </h1>
		</div>
		<div class="content-rounded-panel" style="overflow: hidden;">
			<div>
				{% for project in site.cpp.projects %}
					<div class="col-sm-12">
						{% if project.title %}
							<h3>{{project.title}}</h3>
						{% endif %}
						<div class="col-sm-6">
						{% if project.link %}
							<a target="_blank" href="{{project.link}}" ><img style="width:80%" src="{{project.image}}" /></a>
						{% endif %}
						</div>
						<div class="col-sm-6">
						{% if project.description %}
							{{project.description}}
						{% endif %}
						</div>
						<div class="col-sm-6">
						</div>
						<div class="col-sm-6">
						{% if project.repository %}
							<div class="github-widget" data-repo="{{project.repository}}"></div> </br>	
						{% endif %}
						</div>
					</div>
					<br><br>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
